@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf);
}

:root {
    --cor01: #c5ebd6;
    --cor02: #83efad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #06aeae;
    --fonte_padrao: arial, helvetica, verdana, serif;
    --fonte_destaque: 'Bebas Neue', cursive;
    --fonte_android: 'Android', cursive 
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
    font-family: var(--fonte_padrao);
}

p {
    margin: 15px 0px;
}

a::after {
    content: '\00a0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor05));
    color: white;
    text-align: center;
    height: 150px;
    padding-top: 40px;
    font-family: var(--fonte_padrao);
    font-size: 20px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404);
}

header > h1 {
    color: white;
    font-family: var(--fonte_destaque);
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
}

header > p {
    font-size: 25px;
    margin: auto;
    max-width: 600px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
}

nav {
    background-color: var(--cor05);
    padding: 10px;
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: .5s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
    border-radius: 4px;
}

main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main h1{
    color: var(--cor04);
    font-family: var(--fonte_android);
}

main h2 {
    color: var(--cor04);
    font-family: var(--fonte_android);
    background-image: linear-gradient(to right, var(--cor02), transparent);
}

main p {
    text-indent: 50px;
    text-align: justify;
    line-height: 24px;
}

main strong {
    font-weight: bolder;
    color: var(--cor05);
    padding: 5px;
}

main a {
    font-weight: bolder;
    color: var(--cor05);
    text-decoration: none;
    background-color: var(--cor02);
    padding: 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor03);
}

main img {
    width: 100%;
}

main img.pequeno {
    width: 40%;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor05);
    margin: 0px -20px;
    margin-bottom: 40px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 90%;
    width: 90%;
}

aside {
    background-color: var(--cor02);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

aside > p {
    padding: 10px;
}

aside > h3 {
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    margin: -10px, -10px, 0px, -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-indent: 20px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2611\00a0\00a0';
    padding: 10px;
}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    margin-bottom: -20px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor02);
}