@charset "UTF-8";

section#conteudo {
	width: 1000px;
	margin: auto;
}

iframe#frame-spech {
	width: 450px;
	height: 380px;
	border: none;
	overflow: hidden;
}

iframe#frame-spech::-webkit-scrollbar{
	display: none;
}